<% provide(:title, "About")%>
<h1>About us</h1>
		<p>
			The <a href="http://railstutorials.org/">Ruby on Rails Tutorial</a>
			is a project to make a book and screenshots to teach web development
			with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
			is the sample application for the tutorial.
		</p>